/*
Theme Name: Processo Seletivo 2015/1
Theme URI: http://ingresso.ifrs.edu.br/2015
Author: Daniel Mazon da Silva, Ricardo Moro
Author URI: http://www.ifrs.edu.br/
Description: Tema para o Processo Seletivo 2015/1 do Portal de Ingresso do IFRS.
Version: 1.0
License: GNU General Public License v3 & Creative Commons 4.0 (BY-NC-ND)
License URI: http://www.gnu.org/licenses/gpl-3.0.txt
Tags: ingresso,processo,seletivo,vestibular,2015,ifrs
Template: ingresso
*/


@import url("../ingresso/style.css");

/* Geral */
body {
    background-image:url("img/fundo-ingresso.jpg");
    background-repeat:no-repeat;
    background-position:top center;
    background-color:#0e1618;
    overflow: scroll;
}


/* Layout */
h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#conteudo {
    margin-top: 12px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}

.breadcrumb {
    padding: 8px 15px 8px 15px;
    margin-top: 12px;
    margin-bottom: 5px;

}

ol.breadcrumb li a {
    font-weight: bold;
}

ol.breadcrumb li.active{
    font-weight:bold;
}

.center {
    text-align: center;
}

.alignright, img.alignright {
    float: right;
}

.alignleft, img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 0px;
}
img.aligncenter {
    clear: both;
    margin-top: 12px;
    margin-top: 0.857142857rem;
    margin-bottom: 12px;
    margin-bottom: 0.857142857rem;
}
img.alignright, .wp-caption.alignright {
    margin: 12px 0 12px 24px;
    margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}


/* Cabeçalho */
.menu {
    background-color: #FFFFFF;
    margin-top: 13px;
}

.navbar {
    border: none;
    border-radius: 0px;
}

.navbar-ingresso {
    background-color: #FFFFFF;
    /*margin-top: 13px;*/
    margin: 0;
}

#logo-ifrs {
    /*float:left;*/
    width: 337px;
    height: 173px;
}

#foto-alunos img {
    z-index: 99;
    position: absolute;
    margin-left: -36px;
}

#ensino-publico {
    margin-top: 50px;
    /*z-index: 9999;*/
    position: absolute;
    /*left: 40px;*/
}
#total-cursos {
    margin-top: 20px;
    z-index: 9999;
    /*position: absolute;*/
    /*left:700px;*/
}
#inscricoes {
    margin-top: 10px;
    /*z-index: 9999;*/
    /*position:absolute;*/
    left:0px;
}


/* Atalhos */
/*ul#atalhos {
    position: fixed;
    right: 30px;
}

#atalhos {
    z-index: 9999;
    position: fixed;
}

#atalhos a {
    font-size: 0.9em;
    color:#fff;
}

#atalhos li {
    float: left;
    padding-right: 10px;
    list-style: none;
}*/


/* Menu */
div#menu-principal a {
    color:#636363;
}

div#menu-principal a:hover {
    color:#fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.current-menu-item a,
.current_page_item a {
    background-color: transparent;
    border-bottom: 3px solid #F90;
    height: 50px;
}

.navbar-default .navbar-nav > li > a {
    background-color: transparent;
    color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #FFFFFF;
}

ul.nav.navbar-nav li a:hover,
ul.nav.navbar-nav li.active a:hover {
    background-color: #F90;
    color: #FFFFFF;
}

.nav > li > a {
    padding-right: 10px;
}

.nav-pills {
    border: 1px solid #CCCCCC;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}


/* Home */
.home-titulo {
    color: #9b9a9f;
    border-bottom: 1px solid #9b9a9f;
    margin-bottom: 10px;
}

.home-titulo h2 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2em;
}

.home-titulo a {
    color: #9b9a9f;
    float: right;
    font-size: 0.7em;
    font-weight: bold;
    margin-top: -20px;
    text-transform: uppercase;
    vertical-align: text-bottom;
}

.home-titulo.separador {
    margin-top: 20px;
}

.aviso-data {
    background-color: #78b92b;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 5px;
    width: 100px;
    height: 80px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    font-size: 1em;
    margin-bottom: 10px;

    float: left;
    margin-right: 10px;
}

.aviso-data .dia {
    font-size: 3.5em;
}

.aviso-titulo {
    color: #333;
    margin: 0;
    height: 80px;
    font-size: 1.4em;
    padding-top: 15px;
}

.aviso-titulo a {
    color: #333;
}

#provas {
    background-color: #f99904;
    display: block;
    padding: 30px 10px;
    text-align: center;
}

#provas:hover {
    background-color: #f87a01;
}

#lista-campus {
    background-color: #76B729;
    color: #fff;
    margin-top: 20px;
    padding: 0 10px 10px 10px;
}

#lista-campus h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

#lista-campus a {
    color: #fff;
}

#lista-campus ol {
    margin-top: 20px;
}

.widget.banner {
    background-color: #e7743c;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2em;
}

.widget.banner:hover {
    background-color: #dd4a16;
}

.widget.banner img {
    height: auto;
    padding: 10px 10px;
}

.widget_sp_image-image-link {
    display: block;
}

.atalho {
    display: block;
    color: #FFFFFF;
    padding: 10px;
    font-size: 1.4em;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    height: 140px;
}

.atalho:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.atalho .glyphicon {
    font-size: 3em;
    padding-left: 3px;
}

.atalho.alt1 {
    background-color: #c0b86c;
}

.atalho.alt1:hover {
    background-color: #a89d34;
}

.atalho.alt2 {
    background-color: #df1a33;
}

.atalho.alt2:hover {
    background-color: #d30000;
}

.atalho.alt3 {
    background-color: #e34db1;
}

.atalho.alt3:hover {
    background-color: #d80a93;
}

.atalho.alt4 {
    background-color: #89c2c8;
}

.atalho.alt4:hover {
    background-color: #5cabb3;
}

.atalho#isencao {
    background-color: #86c06c;
    text-align: left;
}

.atalho#isencao:hover {
    background-color: #5fa743;
}

.atalho#cursos {
    background-color: #df9a1a;
    line-height: 2;
}

.atalho#cursos:hover {
    background-color: #d17601;
}

.atalho#datas {
    background-color: #e35e4d;
}

.atalho#datas:hover {
    background-color: #d83224;
}

.atalho#faq {
    background-color: #3b99d6;
}

.atalho#faq:hover {
    background-color: #1475c4;
}

.atalho#editais {
    background-color: #8991c8;
    line-height: 2;
}

.atalho#editais:hover {
    background-color: #636bb3;
}

.atalho#manual {
    background-color: #b0d074;
}

.atalho#manual:hover {
    background-color: #94bc4a;
}

.img-thumbnail.wp-post-image {
    margin-right: 10px;
    margin-bottom: 10px;
}

h3#twitter {
    font-size: 24px;
    margin: 5px 0;
    font-weight: 400;
    height: 24px;
}

h3#instagram {
    font-size: 24px;
    margin: 5px 0 15px 0;
    font-weight: 400;
}

.nav-campus {
    padding: 5px;
}

.panel-curso .panel-heading h3 {
    margin: 0;
}

.panel-curso .panel-body {
    padding: 10px;
}

.dataTables_info {
    font-size: 0.9em;
}

/* Rodapé */
footer {
    background-color: #009933;
    color: #FFFFFF;
    font-size: 0.9em;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer p.titulo {
    font-size: 1.5em;
}

footer a,
footer a:visited {
    color: #FFFFFF;
    text-decoration: underline;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: #FCCA00;
}

#links {
    background-color: #003300;
    color: #FFFFFF;
    font-size: 0.8em;
    padding-top: 5px;
    text-align: center;
}

#links .glyphicon {
    font-size: 0.9em;
}

#links a {
    color: #CCCCCC;
}

/* Responsivo */
@media (min-width: 992px) and (max-width: 1199px) {
    #foto-alunos img {
        margin-left: -60px;
    }

    #ensino-publico {
        margin-top: 75px;
        left: 50px;
        width: 200px;
    }

    #total-cursos {
        margin-left: 35px;
    }

    .atalho#isencao {
        font-size: 1.2em;
    }
}

@media (max-width: 991px) {
    footer {
        text-align: center;
    }

    footer p.titulo {
        margin-top: 10px;
    }
}
